{% macro ac_icon(entity_id) %}
    {% set status = states(entity_id) %}
    {% if status == 'off' %}
        mdi:power
    {% elif status == 'cool' %}
        mdi:snowflake
    {% elif status == 'heat' %}
        mdi:fire
    {% elif status == 'heat_cool' %}
        mdi:autorenew
    {% else %}
        mdi:home-thermometer
    {% endif %}
{% endmacro %}

{% macro ac_icon_color(entity_id) %}
    {% set status = states(entity_id) %}
    {% if status == 'off' %}
        grey
    {% elif status == 'cool' %}
        blue
    {% elif status == 'heat' %}
        red
    {% else %}
        grey
    {% endif %}
{% endmacro %}
